@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 220px;
    height: 380px;
    color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 48px;
}

div span:nth-child(2){
    font-family: 'Big Shoulders Display', sans-serif;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

span{
    font-size: 40px;
    font-weight: bold;
}

p{
    font-size: 14px;
    line-height: 26px;
    width: 200px;
    font-family: 'Lexend Deca', sans-serif;
    height: 170px;
}

button{
    width: 128px;
    height: 42px;
    text-decoration: none;
    border: none;
    color: white;
    padding: 1px 12px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 24px;
}

.sedans button{
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
}

.suvs button{
    color: hsl(184, 100%, 22%);
    font-family: 'Lexend Deca', sans-serif;
}

.luxury button{
    color: hsl(179, 100%, 13%);
    font-family: 'Lexend Deca', sans-serif;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

.icon-sedan{
    width: 60px;
}

.icon-suv{
    width: 60px;
}

.icon-luxury{
    width: 60px;
}

img{
    padding-bottom: 8px;
}

@media only screen and (max-width: 375px) {
    /* Styles for screens below 375px */
    /* Arrange divs in a single column */
    div {
      display: block;
      width: 100%;
    }
  }